@media print {
    body {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  
    .print-container {
      width: 100%;
      margin: 0 auto;
      page-break-after: always;
    }
  
    @page {
      size: A4;
      margin: 1cm;
    }
  
    @page A3 {
      size: A3;
    }
  
    @page A5 {
      size: A5;
    }
  
    @page A10 {
      size: A10;
    }
  
    .no-print {
      display: none !important;
    }
  }
  